doctype html
head
    meta(charset='UTF-8')
    title Error 404 (Not found)!
    link(rel='stylesheet' href='/../public/styles/404.css')

body
    if (message_status)
        h1 #{message_status}
    else
        h1 404
    if (message)
        p #{message}
    else
        p Sorry, the page you are looking for could not be found.


