doctype html
head
    meta(charset='UTF-8')
    title Error 404 (Not found)!
    link(rel='stylesheet' href='/../public/styles/formularz/formularz_success.css')

include common/navbar.pug


body
    h1 Dziękujemy za dokonanie rezerwacji!


include common/footer.pug
