doctype html
head
    meta(charset='UTF-8')
    title Formularz rezerwacji
    link(rel='stylesheet' href='/../public/styles/formularz.css')
    script(src='/../form.js' defer='')

include common/navbar.pug

.form_and_array
    .form
        form#form(action='/formularz/', method='POST')
            label(for='nazwa') Wybierz wycieczkę:
            br
            select#nazwa(name='wycieczka')
                option(value='szczyt') Szczyt wszystkiego
                option(value='morza') Dalekie morza
                option(value='miasto') Miasto
            br
            .form_title
                label(for='imie') Imię:
                br
                input#imie(type='text')
                br
                #name-error
            .form_title
                label(for='nazwisko') Nazwisko:
                br
                input#nazwisko(type='text')
                br
                #surname-error
            .form_title
                label(for='email') Adres email:
                br
                input#email(type='email')
                br
            .form_title
                label(for='numer') Liczba zgłoszeń:
                br
                input#numer(type='integer')
                br
            input#submit-button.submit-button(type='submit' value='Prześlij')
    .table
        h2 Wycieczki
        table.tg
            thead
                tr
                    th.tg-0lax
                        b Nazwa wycieczki
                    th.tg-0lax
                        b Cena
                    th.tg-0lax
                        b Dostępne miejsca

            tbody
            for wycieczka in wycieczki
                tr
                    td.tg-0lax=wycieczka.nazwa
                    td.tg-0lax=wycieczka.cena
                    td.tg-0lax=wycieczka.liczba_dostepnych_miejsc

#modal.modal
    .modal-content
        p#modal-text.modal-text
        button#modal-button.modal-button OK

include common/footer.pug
