doctype html
head
    meta(charset='UTF-8')
    title Strona główna
    link(rel='stylesheet' href='../public/styles/home.css')

include common/navbar.pug

section.main-section
    .column1
        for wycieczka in wycieczki.array
            .small-section-trip
                img.small-image(src='../public/static/' + wycieczka.image style='width:150px')
                .small-section-trip-no-image
                    .small-text
                        a(href='/wycieczka/' + wycieczka.id)
                            h1=wycieczka.title
                        p=wycieczka.body
                            br
                        p= 'Cena: ' + wycieczka.price
                    .rezerwuj-button
                        a.blue-button(href='/formularz/') Zarezerwuj

    .column2
        h2 Promocje
        .narrow-column2-context
            h3 Góry wysokie
            p
                | 1-31 lutego
                a(href='/formularz/') Rezerwuj
        .narrow-column2-context
            h3 Inne miejsce
            p
                | 17-18 kwietnia
                a(href='/formularz/') Rezerwuj
        .narrow-column2-context
            h3 Też gdzieś
            p
                | w listopadzie
                a(href='/formularz/') Rezerwuj
        h2 Porady
        .links
            a.link(href='/#') Co zabrać na wycieczkę?
            a.link.white(href='/#') Kiedy najlepiej wyjechać?
            a.link(href='/#') Jakie buty są najwygodniejsze?

include common/footer.pug
