doctype html
head
    meta(charset='UTF-8')
    title Error 404 (Not found)!
    link(rel='stylesheet' href='/../public/styles/formularz/formularz_error.css')

include ../common/navbar


body
    h1 Błąd! #{message}.


include ../common/footer
