link(rel='stylesheet' href='../public/styles/common.css')
footer
    .footer-container
        ul
            li(href='/link/') Biuro podróży, 2022
            li(href='/link/') O firmie
            li(href='/link/') Polityka prywatności
            li(href='/link/') Kontakt
