link(rel='stylesheet' href='/../public/styles/common.css')

nav
    .nav-container
        a(href='/')
            img.logo(href='/' src='/../public/static/logo.png' alt='logo' style='width:150px')
        ul
            li
                a(href='/' style='color:' + (nav_color === 'homepage' ? '#f14646' : '#ffffff'))
                    | Strona główna
            li
                a(href='/wycieczka/' + (Math.floor(Math.random() * 3) + 1).toString()
                    style='color:' + (nav_color === 'wycieczka' ? '#f14646' : '#ffffff'))
                    | Losowa wycieczka
            li
                a(href='/formularz/' style='color:' + (nav_color === 'formularz' ? '#f14646' : '#ffffff'))
                    | Rezerwacja
