body {
  background: #4aa260;
}

h1 {
  text-align: center;
  color: white;
  position: center;
  margin: 20% 0 20% 0;
  font-size: 1000%;
  font-family: 'Lato', sans-serif;
}

p {
  text-align: center;
  color: white;
  margin: 20% 0 0 0;
  font-size: 150%;
  font-family: 'Lato', sans-serif;
}
