@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: aliceblue;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.main-section {
  margin: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;

  .column1 {
    max-width: 60%;


    .small-image {
      min-width: 35%;
      max-height: 15%;
      height: 50%;
      margin: 2em 2em 2em 0;
      border-style: double;
    }


    .small-section-trip {
      max-width: 80%;
      display: flex;
      flex-direction: row;
      padding-bottom: 1em;


      .small-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        text-decoration: none;

        h1 {
          font-size: 3em;
          margin: 0;
          color: black;
        }

        a {
          text-decoration: none;
        }

        p {
          font-size: 1.3em;
          margin: 1% 0 1% 0;
        }

      }

      .rezerwuj-button {
        margin: 0 0 0 80%
      }


    }


    .blue-button {
      font-size: 1.5em;

      text-decoration: none;
      margin-top: 6.5em;
      margin-bottom: 0;
      color: blue;
    }

  }


  .column2 {
    width: 20%;

    min-width: 300px;

    h2 {
      font-size: 3em;
      margin: 0;
      padding-bottom: 0.6em;
    }

    .narrow-column2-context {
      display: flex;
      margin: 0;
      padding-top: 0.6em;
      padding-bottom: 0.6em;
      flex-direction: column;


      h3 {
        font-size: 1.5em;
        margin: 0;
      }

      p {
        font-size: 1.2em;
        margin-left: 2em;
      }

      a {
        text-decoration: none;
        color: #565656;
        padding: 1em;
      }
    }

    .links {
      display: flex;
      flex-direction: column;


      .link {
        font-size: 1.2em;
        text-decoration: none;
        color: #000000;
        background-color: #b4b4b4;
        padding: 1em 0 1em 0;
        border-style: dashed;
      }

      .white {
        background-color: #efefef;
        border-style: none;
      }
    }
  }
}

